# Cafe24 PHP hosting
BASE_URL=https://gingmoji00.mycafe24.com
SESSION_SECRET=CHANGE_TO_A_LONG_RANDOM_VALUE

DB_HOST=localhost
DB_PORT=3306
DB_USER=gingmoji00
DB_PASSWORD=CHANGE_ME
DB_NAME=CHANGE_ME

ADMIN_ID=admin
ADMIN_PASSWORD=CHANGE_ME
